<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% if title %}{{ title }} | {% endif %}{{ global.siteName }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">
  <meta name="apple-mobile-web-app-title" content="GIFs">
  <link rel="apple-touch-icon" href="apple-touch-icon-precomposed.png">
  <link rel="stylesheet" href="/assets/app.css">
  <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
</head>
<body class="dark:bg-gray-900">

  <div class="max-w-lg mx-auto pt-8 pb-20 px-4">
    {{ content | safe }}
  </div>

  <script src="/assets/app.js"></script>
</body>
</html>
