@import 'normalize';

* {
    box-sizing: border-box !important;
}

body {
    font-family: monospace;
    font-size: 1.2em;
}

.hidden {
    display: none
}

a {
    color: #555;
    text-decoration: underline;

    &:hover,
    &.hover,
    &:active
    &.active {
        text-decoration: none;
    }

    &:visited {
        color: #999;
    }
}

.wrapper {
    margin: 1em auto 4em;
    max-width: 400px;
    width: 90%;
}

header {
    font-size: 2em;
    text-align: center;
    margin: 1em 0;
}

input[type="search"] {
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 0 0 2em;
    padding: .5em;
    transition: all .3s ease;
    width: 100%;

    &:focus {
        box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, .1);
        border: 1px solid #aaa;
        outline: none;
    }
}

table {
    width: 100%;

    th {
        text-align: left;
    }

    td {
        border-bottom: 1px solid #ddd;
    }

    a {
        display: block;
        padding: .5em 0;
    }
}